.container{
    background: #f9f9f8;
    width: 100%;
    height: 100%;
    margin-bottom: 14px;
}

ul{
    list-style: none;
    display: flex;
    gap: 17px;
    cursor: pointer;
    flex-wrap: wrap;
    justify-content: center;
    padding: 17px;
}
ul li{
    border-bottom: solid #f68e1e;
}

ul li:hover{
   color: gray

}